@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: #E0DAC8;
  font-family: 'Caveat', cursive;
}

.show-screen{
  display: block;
}

.hide-screen{
  display: none;
}

#intro-screen{
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

h1{
  margin-top: 250px;
  font-size: 80px;
}

h2{
  font-size: 30px;
}

#start-game-btn-wrapper{
  margin: 75px auto;
  width: 250px;

}

#start-game-btn{
  font-family: 'Caveat', cursive;
  font-size: 25px;
  width: 250px;
  height: 100px;
  color: #fefefe;
  background-color: #401d05;
  border-radius: 25px;
}

#start-game-btn:hover{
  cursor: pointer;
  background-color: #713b1e;
}

#cookie-wrapper {
  display: inline-block;
  margin: 150px auto 30px auto;
  width: 100%;
  text-align: center;
}

#cookie-btn {
  width: 350px;
}

#current-cookies {
  font-size: 50px;
  font-weight: 700;
}

p {
  font-size: 30px;
}

#power-ups {
  justify-content: space-evenly;
  display: flex;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  font-size: 30px;
}

.power-up{
  color: #f2f2f2;
  width: 250px;
  height: 100px;
  border: none;
  border-radius: 25px;
}

.power-up-locked{
  background-color: #503a26;
  cursor: default;
}

.power-up-unlocked{
  background-color: #8C5423;
  cursor: pointer;
}